/* GENERAL STYLING*/
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.block-menu a {
    display: block;
    background-color : rgb(214, 192, 235);
    color:rgb(158, 204, 206);
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;   
}
.inline-menu a {
    display: inline;
    background-color :rgb(191, 205, 163);
    color:rgb(116, 82, 112);
    padding:5px;
    margin: 5px;
    text-decoration:italic;

}
.inline-block-menu a {
    display: inline-block;
    background-color :rgb(184, 143, 203);
    color:rgb(193, 244, 167);
    padding:20px;
    margin: 20px;
    text-decoration:italic;
}
.float-menu a {
    float: right;
    background-color :yellowgreen;
    color:rgb(245, 158, 158);
    padding:5px;
    margin: 5px;
    text-decoration:italic;
}
.clear-exampale {
    clear: both;
     background-color: lightpink;
     padding:10px;
     margin-top:20px;
     border: 1px solid red;
}