body{
    background-color:antiquewhite;
}
.sdata{
    width:1400px;
    height:400px ;
    border: 3px solid black;
    margin-left: 4%;
    margin-top: 10%;
     display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap:40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    
}
.sinfo{
    border: 5px solid rgba(5, 45, 247, 0.721);
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 5%;
    margin-right: 40px;
    box-shadow: 0 4px 8px rgba(4, 42, 234, 0.721);
    
}
.para{
    display:block;
    text-align: center;
}
.shortn{
    border: 1px solid   rgba(4, 42, 234, 0.721);
    border-radius: 50%;
    width: 80px;
    height:70px ;
    margin-left: 110px;
    margin-top: 20px;
    text-align: center;
    background-color: blue;
    color: white;
    
}
.headings{
    text-align: center;
}